@import "ember-bootstrap/bootstrap";
@import "ember-power-select";
@import "pod-styles";

img.dropdown-die-image {
  width: 30px;
}

img.dropdown-resource-image {
  width: 50px;
}

.footer {
  clear: both;

  .footer-logos {
    font-size: 300%;
  }
}
