{{puzzle-builder
  board=board
  selectedBlueprints=selectedBlueprints
  selectedDice=selectedDice
  selectedResources=selectedResources
  cardIDs=cardIDs
  diceIDs=diceIDs
  resourceIDs=resourceIDs
  addBlueprint=(action 'addBlueprint')
  addDie=(action 'addDie')
  addResource=(action 'addResource')}}

  <div class="footer">
    <br /><br />
    <p>Fantastic Factories is a dice placement, engine building card game that's <a href="https://www.kickstarter.com/projects/1602062107/fantastic-factories-a-dice-placement-engine-buildi?ref=b4kuv6">live on Kickstarter right now!</a></p>
  </div>
