& {
  display: inline-block;
  position: relative;

  .delete-icon {
    position: absolute;
    color: red;
    top: 0;
    right: 0;
    font-size: 120%;
    background-color: white;
    border-radius: 20px;
    line-height: 1;
  }
}
