& {
  img.selected-card-image {
    width: 295px;
    max-width: 38vw;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  img.player-board-image {
    width: 295px;
    max-width: 38vw;
    margin-right: 5px;
    margin-bottom: 30px;
    float: left;
  }

  img.selected-die-image {
    display: inline!important;
    width: 80px;

    @include media-breakpoint-down(sm) {
      width: 60px;
    }
  }

  img.selected-resource-image {
    display: inline!important;
    width: 80px;

    @include media-breakpoint-down(sm) {
      width: 60px;
    }
  }

  .dice-and-resources {
    padding-top: 1em;
    text-align: center !important;
  }

  .resources {
    display: inline-block;
    margin-left: 2em;
  }

  .factory-compound {
    padding: 1em 10px;
    
    img {
      vertical-align: top;
    }
  }

  .zoom-link {
    cursor: zoom-in;
  }
}
